.image-wedding{
    width: 100%;
    height: 37rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-wedding>div {
    width: 33%;
    height: 99%;
}
.image1 {
    background-image: url('C:/ProjectsToOthers/עצמי/wedding/public/assets/image-wedding.jpg');
    background-repeat: round;
    opacity: 0.8;
}
.image2{
    background-image: url('C:/ProjectsToOthers/עצמי/wedding/public/assets/image-wedding2.jpg');
    background-repeat: round;
    opacity: 0.8;
    font-size: 41px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image3{
    background-image: url('C://ProjectsToOthers//עצמי//wedding//public//assets//image-wedding3.jpg');
    background-repeat: round;
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .image-wedding>div {
        width: 100%;
        height: 99%;
    }
    .image-wedding{
        width: 100%;
        height: 37rem;
        display: block;
    }
    .image1,.image3{
        display: none;
    }
}